/* .App {
  /* text-align: center; */
/* background-color: #61dafb;  
  color: rgb(41, 127, 202);
} */

.App-nav {
  background-color: #0b1a1fcb !important;
  /* color: rgb(25, 43, 58); */

  color: aliceblue;
}

body {
  /* background-color: #a7630a !important; */
  color: #347b98 !important;
  /* background: -webkit-linear-gradient(
    to right,
    #0d47cf,
    #73c8a9
  ); Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    aliceblue
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-color {
  color: #0d0d0e;
}

.mouse-hover:hover {
  background-color: #347b98 !important;
  color: aliceblue;
  /* font-size: 20px; */
}

.box {
  box-shadow: 0px 0px 5px 2px rgba(227, 227, 233, 0.904);
  border-radius: 0px;
  border-width: 1px;
  background-color: rgba(7, 7, 7, 0.911);
}
